cycler
kiwisolver
matplotlib>=3.3.4
numpy>=1.19.5
Pillow>=8.1.0
pyparsing
python-dateutil
PyYAML>=5.4.1
randomcolor>=0.4.4.5
scikit-learn>=0.24.1
scipy>=1.6.1
simpy>=4.0.1
six
networkx>=2.5
tensorflow>=2.4.0
tensorboard>=2.10.0
h5py>=3.7.0
requests>=2.28.0
pandas>=1.2.3
tqdm>=4.64.0
pytest>=6.2.2
tk>=0.1.0
